@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* ========================================================================== */
body {
  font-family: "Poppins";
  font-style: normal;
}

.container {
  max-width: 1632px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

/* === Header   =========================================================================== */
.header {
  padding-top: 35px;
  margin-bottom: 105px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
}
.header__logo-img {
  width: 37px;
  height: 45px;
}
.header__logo-name {
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
  color: #58a9a5;
  margin-left: 10px;
}
.header__btn {
  display: inline-block;
  background-color: #58a9a5;
  border-radius: 15px;
  color: #fff;
  font-weight: 500;
  font-size: calc(16px + 9 * (100vw - 320px) / 1312);
  padding: 21px 87px;
  line-height: 38px;
  transition: all 0.2s linear;
}
.header__btn:hover {
  background-color: #256864;
}

.menu {
  height: 45px;
  margin-top: 9px;
}
.menu__list {
  display: flex;
  padding: 0 10px;
}
.menu__item {
  transition: all 0.2s;
}
.menu__item:not(:first-child) {
  margin-left: 86px;
}
.menu__link {
  display: inline-block;
  font-weight: 400;
  font-size: calc(14px + 11 * (100vw - 320px) / 1312);
  line-height: 38px;
  color: #404242;
  transition: all 0.2s linear;
}
.menu__link::after {
  content: "";
  display: block;
  width: 70%;
  height: 6px;
  border-radius: 5px;
  background-color: #fec62d;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.2s linear;
}
.menu__link:hover {
  color: #58a9a5;
}
.menu__link:hover::after {
  opacity: 0.8;
}

/* === Description =========================================================================== */
.description {
  margin-bottom: 130px;
}
.description__inner {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.description__col1 {
  flex-basis: 743px;
}
.description__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1c2323;
  margin-bottom: 50px;
  max-width: 674px;
}
.description__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
  margin-bottom: 50px;
  max-width: 743px;
}
.description__link {
  display: inline-block;
  padding: 21px 83px;
  background-color: #58a9a5;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.2s linear;
}
.description__link:hover {
  background-color: #256864;
}
.description__col2 {
  position: relative;
  flex-basis: 833px;
}
.description__fon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.description__img {
  z-index: 2;
  position: absolute;
  top: -2%;
  left: 5%;
}

/* === presentation ==========================================================*/
.presentation {
  margin-bottom: 150px;
}
.presentation__inner {
  text-align: center;
}
.presentation__title {
  font-weight: 800;
  font-size: calc(24px + 46 * (100vw - 320px) / 960);
  color: #1c2323;
  margin-bottom: 20px;
}
.presentation__sub-title {
  font-weight: 400;
  font-size: calc(16px + 14 * (100vw - 320px) / 960);
  line-height: 45px;
  color: #404242;
  max-width: 506px;
  margin: 0 auto;
  margin-bottom: 71px;
}
.presentation__video {
  display: flex;
}
.presentation__img-cont {
  max-width: 1063px;
  max-height: 350px;
}
.presentation__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.presentation__info {
  position: relative;
  background-color: #ccf0e6;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 0;
}
.presentation__info-text {
  font-weight: 500;
  font-size: calc(16px + 4 * (100vw - 320px) / 960);
  line-height: 30px;
  color: #486958;
  margin-left: 115px;
  max-width: 328px;
  padding-top: 70px;
  margin-bottom: 41px;
}
.presentation__info-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
  margin-left: 115px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 89px;
}
.presentation__btn-link {
  position: absolute;
  bottom: 40px;
  left: -64px;
  height: 128px;
  width: 128px;
  border: 14px solid rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}
.presentation__btn-link:hover {
  transform: scale(1.05, 1.05);
}
.presentation__btn-link:hover .presentation__triangle {
  border-left: 41px solid #f73f07;
}
.presentation__triangle {
  margin-left: 10px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 41px solid #fec62d;
  border-bottom: 25px solid transparent;
  transition: all 0.2s linear;
}

/* === Mission ================================================= */
.mission {
  margin-bottom: 120px;
}
.mission__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mission__img-cont {
  max-width: 642px;
  max-height: 650px;
}
.mission__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mission__info {
  padding-right: 100px;
}
.mission__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #1c2323;
  margin-bottom: 50px;
  max-width: 487px;
}
.mission__text {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
  max-width: 708px;
}

/* === Project ============================================================== */
.project {
  margin-bottom: 250px;
}
.project__inner {
  text-align: center;
}
.project__title {
  font-weight: 800;
  font-size: 70px;
  color: #1c2323;
  margin-bottom: 20px;
}
.project__sub-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
  margin-bottom: 51px;
}
.project__line {
  width: 135px;
  height: 15px;
  border-top: 3px solid #58a9a5;
  border-bottom: 3px solid #58a9a5;
  margin: 0 auto;
  margin-bottom: 94px;
}
.project__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 137px;
}
.project__item {
  /* text-align: left; */
  flex-basis: 450px;
}
.project__item-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 5px;
  color: #58a9a5;
  transition: all 0.2s linear;
}
.project__item-title:hover {
  color: #256864;
}
.project__item-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
  color: #486958;
}
.project__item-cont {
  display: block;
  max-width: 450px;
  max-height: 450px;
  margin-bottom: 35px;
}
.project__item-img {
  width: 100%;
  height: 100%;
  transition: all 0.2s linear;
}
.project__item-img:hover {
  transform: scale(1.05, 1.05);
}

/* === testimonial ===================================================================== */
.testimonial {
  margin-bottom: 240px;
}
.testimonial__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1c2323;
  text-align: center;
  margin-bottom: 70px;
}
.testimonial__img-wraper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.testimonial__wrapper {
  display: flex;
}
.testimonial__col1 {
  flex-basis: 615px;
}
.testimonial__col1-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonial__col2 {
  background-color: #ccf0e6;
}
.testimonial__description {
  padding: 60px 125px 0px 135px;
  display: flex;
  padding-left: 135px;
  justify-content: space-between;
  margin-bottom: 70px;
  gap: 85px;
}
.testimonial__description-num {
  font-weight: 800;
  font-size: 70px;
  color: #58a9a5;
}
.testimonial__description-text {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #58a9a5;
}
.testimonial__quote {
  max-width: 752px;
  padding-left: 135px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
}
.testimonial__quote span {
  display: block;
  padding-top: 50px;
  color: #58a9a5;
  font-style: italic;
}

/* === Form ========================================================== */
.contacts__inner {
  display: flex;
  padding-bottom: 334px;
}
.contacts__title {
  font-weight: 800;
  font-size: 70px;
  margin-bottom: 10px;
  color: #1c2323;
}
.contacts__sub-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #404242;
  max-width: 398px;
  margin-bottom: 20px;
}

.project__line2 {
  display: inline-block;
}

.form {
  border: 1px solid #486958;
  flex-basis: 1109px;
  margin-left: 104px;
  display: flex;
  flex-direction: column;
}
.form__name {
  padding-top: 57px;
}
.form__name, .form__mail {
  font-weight: 500;
  font-size: 25px;
  color: #486958;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin: 0px 54px 50px;
  opacity: 0.8;
}
.form__area {
  font-weight: 500;
  font-size: 25px;
  color: #486958;
  border-bottom: 1px solid #000;
  margin-left: 54px;
  margin-right: 54px;
  display: inline-block;
  transition: all 0.2s linear;
  opacity: 0.8;
  resize: none;
}
.form__area:hover {
  background-color: rgba(234, 237, 238, 0.89);
}
.form__btn {
  position: relative;
  display: inline-block;
  padding: 21px 73px;
  background-color: #58a9a5;
  color: #fff;
  border-radius: 15px;
  margin-left: 809px;
  bottom: 55px;
  transition: all 0.2s linear;
}
.form__btn:hover {
  background-color: #256864;
}

::-moz-placeholder {
  color: #486958;
}

:-ms-input-placeholder {
  color: #486958;
}

::placeholder {
  color: #486958;
}

@media (max-width: 1115px) {
  .menu__item:not(:first-child) {
    margin-left: 40px;
  }
}
@media (max-width: 975px) {
  .header__logo {
    margin-bottom: 20px;
  }
  .menu__item:not(:first-child) {
    margin-left: 80px;
  }
  .header__btn {
    padding: 15px 56px;
  }
  .header__inner {
    flex-direction: column;
  }
  .menu {
    margin-bottom: 30px;
  }
}
@media (max-width: 715px) {
  .menu__item:not(:first-child) {
    margin-left: 60px;
  }
  .menu__link {
    font-weight: 500;
  }
  .presentation__img {
    display: none;
  }
  .presentation__info-text {
    margin-left: 200px;
    margin-bottom: 31px;
  }
  .presentation__info-link {
    margin-left: 200px;
  }
  .presentation__btn-link {
    left: 30px;
    bottom: 100px;
  }
}
@media (max-width: 580px) {
  .presentation__btn-link {
    margin-top: 10px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .presentation__info-text {
    margin: 0 auto 31px;
    padding-bottom: 0px;
    padding-top: 20px;
    /* word-spacing: 6px; */
  }
  .presentation__info-link {
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .presentation__sub-title {
    margin-bottom: 40px;
    line-height: 25px;
  }
  .header__btn {
    padding: 10px 45px;
  }
}
@media (max-width: 480px) {
  .menu__item:not(:first-child) {
    margin-left: 15px;
  }
  .menu__link {
    font-weight: 600;
  }
  .presentation__info-text {
    max-width: 280px;
  }
}/*# sourceMappingURL=style.css.map */